{% extends 'base.html' %}

{% block title %}Chat Rooms{% endblock title %}


{% block content %}
    <div class="row mt-5">
        <h4>What chat room would you like to enter?</h4> <br>
        <div class="col-md-5">
            <input id="room-name-input" type="text" class="form-control"> <br>
            <input id="room-name-submit"
                value="Enter"
                type="button"
                class="btn btn-primary"> <br>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) { // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        }
    </script>
{% endblock scripts %}